.lcontainer{

  width: 40%;
  background: #EBEDEF;
  margin: 0 auto;
  border-radius: 10%;
  height: 550px;
}
.ltext{
  text-align: center;
  padding-top: 30px;
}

.btn2{
  margin-top: 20px;
  margin-left: 40%;
  margin-bottom: 15px;
  background: #4D57DE;
    border: 1px solid #4D57DE;
    border-radius: 15%;
    color: #FFFFFF;
    font-size: 20px;
    letter-spacing: 2px;
    cursor: pointer;
}